<footer class = "bg-neutral-800 py-6">

    
    <div class = "grid space-y-4 sm:grid-cols-4 sm:space-y-0 mx-5">

        <!-- Column 1 start -->
        <div class = "text-white flex flex-col space-y-4">

            <div class = "flex justify-between space-x-4 sm:justify-center">
                <h3>Why VideoPal?</h3>
                <img [src] = "whyVideoPalOptions?'../../assets/down-arrow.png' :'../../assets/greater-than.png' " (click) = "showWhyVideoPalOptions()"  class = "h-6 sm:hidden" />
            </div>

            <div class = "hidden sm:flex sm:flex-col sm:space-y-4 text-center">
                <a href = "#" class = "hover:underline hover:">Product</a>
                <a href = "#" class = "hover:underline" >Download</a>
                <a href = "#" class = "hover:underline">Status</a>
                <a href = "#" class = "hover:underline">Directory</a>
            </div>

            <!-- This one is for the mobile options-->
            <div [ngClass] = "{'hidden': !whyVideoPalOptions}" class = "sm:hidden flex flex-col space-y-4">
                <a href = "#" class = "hover:underline">Product</a>
                <a href = "#" class = "hover:underline" >Download</a>
                <a href = "#" class = "hover:underline">Status</a>
                <a href = "#" class = "hover:underline">Directory</a>
            </div>
        </div>

        <!-- horizontal line if for the mobile options-->    
        <hr class = "sm:hidden border-t border-white" [ngClass] = "{'hidden': !whyVideoPalOptions}">

        <!-- Column 1 end-->


        <!-- Column 2 start-->
        <div class = "text-white flex flex-col space-y-4">

            <div class = "flex justify-between space-x-4 sm:justify-center">
                <h3>Company</h3>
                <img [src] = "companyOptions?'../../assets/down-arrow.png' :'../../assets/greater-than.png' " (click) = "showCompanyOptions()"  class = "h-6 sm:hidden" />
            </div>

            <div class = "hidden sm:flex sm:flex-col sm:space-y-4 text-center">
                <a href = "#" class = "hover:underline">About</a>
                <a href = "#" class = "hover:underline" >Jobs</a>
                <a href = "#" class = "hover:underline">Brands</a>
                <a href = "#" class = "hover:underline">NewsRoom</a>
                <a href = "#" class = "hover:underline">Fall Release</a>
            </div>

            <!-- This one is for the mobile options-->
            <div [ngClass] = "{'hidden': !companyOptions}" class = "sm:hidden flex flex-col space-y-6">
                <a href = "#" class = "hover:underline">About</a>
                <a href = "#" class = "hover:underline" >Jobs</a>
                <a href = "#" class = "hover:underline">Brands</a>
                <a href = "#" class = "hover:underline">NewsRoom</a>
                <a href = "#" class = "hover:underline">Fall Release</a>
            </div>
        </div>

        <!-- horizontal line if for the mobile options-->    
        <hr class = "sm:hidden border-t border-white" [ngClass] = "{'hidden': !companyOptions}">
        <!-- Column 2 end-->

         <!-- Column 3 start-->
         <div class = "text-white flex flex-col space-y-4">

            <div class = "flex justify-between space-x-4 sm:justify-center">
                <h3>Resources</h3>
                <img [src] = "resourcesOptions?'../../assets/down-arrow.png' :'../../assets/greater-than.png' " (click) = "showResourcesOptions()"  class = "h-6 sm:hidden" />
            </div>

            <div class = "hidden sm:flex sm:flex-col sm:space-y-4 text-center">
                <a href = "#" class = "hover:underline" >College</a>
                <a href = "#" class = "hover:underline">Support</a>
                <a href = "#" class = "hover:underline">Safety</a>
                <a href = "#" class = "hover:underline">Blog</a>
                <a href = "#" class = "hover:underline">Feedback</a>
                <a href = "#" class = "hover:underline">Developers</a>
            </div>

            <!-- This one is for the mobile options-->
            <div [ngClass] = "{'hidden': !resourcesOptions}" class = "sm:hidden flex flex-col space-y-6">
                <a href = "#" class = "hover:underline">College</a>
                <a href = "#" class = "hover:underline" >Support</a>
                <a href = "#" class = "hover:underline">Safety</a>
                <a href = "#" class = "hover:underline">Blog</a>
                <a href = "#" class = "hover:underline">Feedback</a>
                <a href = "#" class = "hover:underline">Developers</a>
            </div>
        </div>
        <!-- Column 3 end-->

        <hr class = "sm:hidden border-t border-white" [ngClass] = "{'hidden': !resourcesOptions}">
        <!-- Column 4 start-->
        <div class = "text-white flex flex-col space-y-4">

            <div class = "flex justify-between space-x-4 sm:justify-center">
                <h3>Resources</h3>
                <img [src] = "policiesOptions?'../../assets/down-arrow.png' :'../../assets/greater-than.png' " (click) = "showPoilciesOptions()"  class = "h-6 sm:hidden" />
            </div>

            <div class = "hidden sm:flex sm:flex-col sm:space-y-4 text-center">
                <a href = "#" class = "hover:underline" >Policies</a>
                <a href = "#" class = "hover:underline">Terms</a>
                <a href = "#" class = "hover:underline">Privacy</a>
                <a href = "#" class = "hover:underline">Cookies Settingsog</a>
                <a href = "#" class = "hover:underline">Guideliness</a>
                <a href = "#" class = "hover:underline">Acknowledgements</a>
            </div>

            <!-- This one is for the mobile options-->

            <div [ngClass] = "{'hidden': !policiesOptions}" class = "sm:hidden flex flex-col space-y-6">
                <a href = "#" class = "hover:underline">College</a>
                <a href = "#" class = "hover:underline" >Support</a>
                <a href = "#" class = "hover:underline">Safety</a>
                <a href = "#" class = "hover:underline">Blog</a>
                <a href = "#" class = "hover:underline">Feedback</a>
                <a href = "#" class = "hover:underline">Developers</a>
            </div>
        </div>

        <!-- Column 4 end-->

    </div>

</footer>